footer {
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-image: linear-gradient(white, #8089e2);
    overflow: hidden;
  }
  
  #social {
    display: flex;
    justify-content: flex-start;
  }
  
  .klasa {
    list-style: none;
    padding-left: 0%;
  }
  
  .klasa > li {
    margin: 0 0;
  }
  
  #girl {
    max-width: 150px;
    max-height: 100px;
    position: relative;
    top: 30%;
  }
  
  #chlopak {
    max-height: 150px;
    position: relative;
    top: 20px;
  }
  
  #dane2 > li {
    margin-top: 5px;
  }
  
  #dane2 > li:first-child {
    margin-top: 25px;
  }

  @media screen and (max-width: 1110px) {
    footer{
      height: 250px;
      padding-top: 50px;
      margin-top: 150px;
    }
  }

  @media screen and (max-width: 790px) {
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: auto;
      margin-top: 50px;
    }
  
    #chlopak {
      grid-column: 1/1;
      grid-row: 1/1;
      justify-self: center;
      position: relative;
      left: -40px;
    }
  
    #dane {
      grid-column: 2/2;
      grid-row: 1/1;
    }
  
    #girl {
      max-width: 130px;
      grid-row: 2/2;
      grid-column: 2/2;
      justify-self: end;
      margin-right: 10%;
  
      margin-top: 20px;
    }
  
    #content1 {
      grid-row: 2/2;
      grid-column: 2/2;
    }
  
    #content2 {
      grid-row: 2/2;
      grid-column: 1/1;
      justify-self: center;
      position: relative;
      left: -40px;
    }
  }
  
  @media screen and (max-width: 480px) {
    #dane {
      position: relative;
      right: 10%;
    }
  
    #chlopak {
      justify-self: start;
      position: static;
      margin-left: 10%;
    }
  
    #content2 {
      position: static;
    }

    #sub {
      margin-left: -5px;
    }
  }

  @media screen and (max-width: 470px) {
    #sub {
      display:none;
    }

    #menu {
      display: none;
    }
  }

  @media screen and (max-width: 380px) {
    #sub {
      display: inline-block;
    }

    #menu {
      display: inline-block;
    }
  }