#Nothing {
    margin-top: 50px;
}

.numerki{
    margin: 0 auto;
    width: 10%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .numerki li{
    display: inline-block;
  }
  
  .numerki li {
    cursor: pointer;
    transform: translateY(-3px); 
  }

  .selected{
    font-weight:650;
    cursor: auto;
  }

  @media screen and (max-width: 790px) {
  
    .numerki {
      position: relative;
      top: -10px;
    }
  }

  @media screen and (max-width: 480px) {
    .numerki {
      position: relative;
      top: -10px;
    }
  }