#Naglowek{
    display: block;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    margin: 0 auto;

}

#Naglowek h2{
    font-size: 32px;
    vertical-align: middle;
    padding-bottom: 20px;
    
}

#s {
    align-self: center;
}

#l {
    align-self: center;
}

#p {
    width: 20%;
}

#l img {
    width: 100px;
    height: 100px;
    text-align: right;
    
}

@media screen and (max-width: 790px) {
  
    #Naglowek {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;

    }

    #s {
        justify-self: center;
    }

    #l {
        justify-self: center;
    }

  
  }